body{
    padding: 0;
    margin: 0;
    background-color: rgb(75, 75, 75);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: yellow;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;    
}

nav a{
    color: black;
    margin-top: -0.5em;
    text-decoration: none;
}

nav{
    margin: auto;
    display: flex;
    gap: 1em;
}

header h2{
    color: black;
}

.criar_treino, .login_link{
    background-color: black;
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    border-radius: 100%;
    transition: 0.3s;
    align-items: center;
}

.login_link svg{
    width: 25px;
    height: 25px;
    transition: 0.3s;
}

.login_link:hover  svg{
    width: 35px;
    height: 35px;
}

.meus_treinos_link{
    margin-top: -0.6em;
    background-color: black;
    color: white;
    width: 55px;
    height: 55px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    border-radius: 100%;
    transition: 0.3s;
    align-items: center;
}

.meus_treinos_link svg{
    width: 25px;
    height: 25px;
    transition: 0.3s;
}

button{
    color: black;
}

.criar_treino{
    margin-top: -0.25em;
}

.criar_treino:hover, .login_link:hover{
    width: 55px;
    height: 55px;
    font-size: 50px;
    color: rgb(255, 255, 130);
}

.meus_treinos_link:hover{
    width: 65px;
    height: 65px;
    font-size: 60px;
    color: rgb(255, 255, 130);    
}

.meus_treinos_link:hover svg {
    width: 35px;
    height: 35px;
}

.conteiner_dia_treino{
    margin-top: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.conteiner_dia_treino button{
    background-color: rgb(255, 255, 46);
    border: none;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    margin: auto;
    margin-top: 1em;
}

.button_voltar{
    display: none;
}

.buttons_dias{
    display: block;
}

table {
    border-collapse: collapse;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 2em;
    max-width: 95%;
  }
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

th, td {
    border-bottom: 1px solid;
    padding: 8px 10px;
}

#table_segunda, #table_terca, #table_quarta, #table_quinta, #table_sexta, #table_sabado{
    display: none;
}

.table_treinos{
    display: flex;
    justify-content: center;
}

/* Adicionar Treino ==================================================================================================================== */

.escolha{
    display: flex;
    flex-direction: column;
}

.escolha button{
    background-color: yellow;
    width: 90%;
    padding: 30px;
    margin: auto;
    font-size: 40px;
    margin-top: 2em;
    transition: 0.3s;
    cursor: pointer;
}

.escolha svg{
    width: 30px;
    height: 30px;
}

.escolha button:hover{
    background-color: yellow;
    width: 95%;
    padding: 35px;    
}

/* Login ============================================================================================================================================================== */

.conteiner_login{
    border: 1px solid white;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1.2em;
}

.foto_login{
    width: 50%;
    border-radius: 100%;
    border: 2px solid white;
    margin-top: 1em;
}

.imagem_login{
    text-align: center;
}

.dados_login{
    margin-left: 3em;
}